// Variables

// colores 
$colorNav: red;
$colorFooter: black;
$colorFondoPagina: radial-gradient(67.04% 67.04% at 51.51% 74.44%, #9E1533 0%, #06030D 96.35%);

$colorTitulos: white;
$bordeTitulos: red;

$colorServicios: red;
$fondoOscuro: black;
$fondoClaro: white;

// variables puntos de quiebre:
$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1361px;

// variables tamaño de títulos
$sizeTit: 4rem

