// Page 404error

.margenMenuError {
    margin-top: 5.8rem;
}
.fondoError404 {
    background-color:$fondoClaro;
}

.tituloError404 {
    font-size: $sizeTit;
    font-weight: bolder;
    text-align: center;
}

.sizeNombre {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.size404video {
    width: 30%;
    min-width: 100px;
}