// Seccion Nosotros

.tituloNosotros {
    font-family: Roboto;
    font-size: $sizeTit;
    padding: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    background: rgba(216, 33, 73, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    color: #FFFFFF;
    text-shadow: rgba(65, 245, 220, 0.56);
    @include media(xs) {
        font-size: 1.5rem;
    }
    @include media(sm) {
        font-size: 2rem;
    }
    @include media(md) {
        font-size: 3rem;
    }
}

.subTitulo {
    font-family: Roboto;
    font-size: 2rem;
    padding: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    color: #FFFFFF;
    text-shadow: rgba(65, 245, 220, 0.56);
    @include media(xs) {
        font-size: 1rem;
    }
    @include media(sm) {
        font-size: 1.2rem;
    }
    @include media(md) {
        font-size: 1.5rem;
    }
}


.sizeTexto {
    text-align: center;
    color: white;
    font-size: 2rem;
    @include media(xs) {
        font-size: 1.2rem;
    }
    @include media(sm) {
        font-size: 1.5rem;
    }
    @include media(md) {
        font-size: 1.5rem;
    }
    @include media(lg) {
        font-size: 1.8rem;
    }
}

.fondoNosotros {
    background: linear-gradient(90deg, #06030D 0%, #9E1533 100%);
}

.cardSomos {
    z-index: 10;
    background: linear-gradient(180deg, #CA3052 0%, #F70036 100%);
}

.rectanguloFondo {
    background-image: url("../img/rectangle281.png");
    background-position: center;
    background-size: cover;
}


.vectores {
    z-index: 5;
    max-width: 20%;
}

.posicionManchaDos {
    position: absolute;
    mix-blend-mode: normal;
    max-width: 80%;
    z-index: 1;
}