// Tipografías 

* {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
    user-select: none;
    -webkit-text-size-adjust: 100%;
}